* 
{
    padding: 0px;
    margin: 0px;
}

/*CSS EXCLUSIVOS DA PÁGINA DE CADASTRO DE LIVROS */

h1
{
    color: #76323F;
    font-size: 38px;
}
#imagem
{
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 115px;
}
#h1cbiblioteca
{
    margin-top: 15px;
}
#cardcadastrolivro
{
    display: flex;
    flex-direction: column;
    background-color: #D7CEC7;
    margin: 12px auto;
    width: 135vh;
    height: 97vh;
    align-items: center;
    border-radius: 15px;
} 
#esquerda
{
    margin-right: 35px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
} 
#direita
{
    margin-top: 85px;
    display: flex;
    flex-direction: column;
} 
#genero
{
    width: 225px;
}
#formcadastrolivro
{
    display: flex;
    text-align: center;
    margin: 22px auto;
}
.campos, #btn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    font-size: 19px;
}
#btn
{
    margin-top: 5px;
    cursor: pointer;
    margin-left: 250px;
}
#btn:hover{
    background-color: #B8977E;

}

#pular
{
    margin-top: 50px;
    margin-left: 150px;
    font-size: 15px;
    text-decoration: underline;
}
#seta{
    height: 15px;
    width: 20px;
}
#pular:hover{
    color: #B8977E;
}
#campo{
    height: 25px;
    width: 300px;
    
}
button
{
    color: rgb(255, 255, 255);
    background-color: #76323F;
    width: 15vh;
    height: 5vh;
    border-radius: 7px;
}
input
{
    margin: 7px;
    font-size: 15px;
    text-align: center;
    border: 5px;
    background-color: #F5F5F5;
    outline: none;
    border-radius: 3px;
    border: solid 2px #aeaeae;
}
input:focus{
    border: solid 2px #B8977E ;
}
#pular{
    color: black;
}

/* CELULAR*/
@media all and (min-width: 360px) and (max-width: 740px){
#formcadastrolivro
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    margin: 0px auto;

}
#cardcadastrolivro{
    display: flex;
    flex-direction: column;
 
    background-color: #D7CEC7;
    width: 340px;
    height: 1150px;
    align-items: center;
    border-radius: 15px;
    text-align: center;

}
#direita
{
    margin-left: 40px;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
} 
#btn
{
    margin-top: 0px;
    cursor: pointer;
    margin-left: 110px;
}
#esquerda
{
    margin-left: 20px;
    margin-right: 35px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
} 
}
/* Tablet */
@media all and (min-width: 768px) and (max-width: 1024px){
    #cardcadastrolivro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: #D7CEC7;
        width: 768px;
        height: 680px;
        align-items: center;
        border-radius: 15px;
        text-align: center;
    
    }
    
}