* 
{
    padding: 0px;
    margin: 0px;
}

body
{
   width: 100%;
    height: 100%;
}

ul 
{
    list-style: none;
}

a
{
   text-decoration: none;
   color: #76323F;
}
.divHeader{
    display: flex;
    flex-direction: row;
}

.logoLOAN{
  margin-top: 8px;
  margin-left: 15px;
}
  
.linkHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 70%;
}
  
#menuprincipal ul{
    list-style: none;
    padding-left: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #D7CEC7;
}
    
.linkMenu{
    display: block;
    color: #76323F;
    padding: 15px 30px;
}

.linkMenu:link,
.cadastro:link, 
.login:link{
    text-decoration: none;
    color: #76323F;
}
  
.linMenu:visited,
.cadastro:visited, 
.login:visited{
    color: #76323F;
}
   
 #linkPerfil{
    color:  white ;
    background-color: #76323F;
    padding-left: 20px;
    padding-right: 20px;
}
  
#busca{
    padding-top: 1%;
    margin-left: 22%;
    padding-right: 2%;
}
  
#txtBusca{
    border: 1px solid #76323F;
    border-radius: 5px;
    height: 20px;
}
  
#botao{
    background-color: transparent;
    border: none;
    color: #76323F;
}
  
#botao:hover{
    background-color: #76323F;
    border: none;
    color: #D7CEC7;
}


/* DADOS DO USUÁRIO */

#dados
{
    background-color: #D7CEC7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 38px 0px;
    width: 100%;
    height: 45vh;
}

#dados h1
{
    color: #76323F;
}
#formulario_dados
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    margin: 15px 0px;
}

input 
{
    color: #aeaeae;
}

input:hover
{
    color: #000000;
}

#dados .linha 
{
    background-color: #76323F;
    width:  100%;
    height: 2px;
    margin: 1px auto;
}

.modificar_dados
{
    display: flex;
    margin: 10px 0px;
}
.modificar_dados a
{
    margin: 5px;
}
.modificar_dados a:hover
{
    color: #000000;
}
#nome 
{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
#senha
{
    display: flex;
    flex-direction: column;
}

#nova_senha
{
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
}
#nova_senha a:hover
{
    color: #000000;
}


#campo_senha
{
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
}

#formulario_dados input
{
    margin: 0px;
    font-size: 15px;
    text-align: center;
    border: 5px;
    outline: none;
    border-radius: 3px;
    border: solid 1px #aeaeae;
}

input:focus{
    border: solid 1px #B8977E ;
}

#botoes_confirmar a
{
    margin: 15px 25px;
    align-items: center;
    color: black;
    font-style: italic;
    font-weight: bold;
}

#botoes_confirmar a:hover
{
    background: #76323F;
    color: white;

}
/*  ACERVOS DE LIVROS DO USUÁRIO */
#acervo
{
    background-color: #76323F;
    width: 100%;
    height: 80vh;
}

#acervo h1
{
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    margin: 30px 0px;
}

h1 #linha
{ 
    background-color: #000000;
    height: 2px;
    width: 200px;
}

/*----SLIDE SHOW */
.Slides {
    display: none;
}
  
.slideshow-container {
    position: relative;
    margin: auto;
}

.imagens{
    display: flex;
    flex-direction: row;
    background-color: #D7CEC7;
    width: 980px;
    height: 300px;
    padding: 30px;
    margin: 40px auto;
    margin-bottom: 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 0px  rgba(0,0,0,0.3); 
    position: relative;
}
  
.texto{
    flex: 1;
}
  
.título{
    margin-top: 8%;
    text-align: center;
    font-size: 25px;
    color: #76323F;
}
  
.parágrafo{
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 15px;
    text-indent: 5%;
    margin-right: 3%;
    margin-left: 2%;
}
  
.imgSlide{
    margin-right: 5%;
    width: 280px; 
    margin-left: 3%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 12px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.prev{
    margin-left: 12%;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 12%;
}
  
.prev:hover, .next:hover {
    color: #f2f2f2;
    background-color: rgba(0,0,0,0.8);
}
  
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Animação */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*CADASTRO DE LIVROS*/
#cadastro_livro a
{
    color: #B8977E;
}