* 
{
    padding: 0px;
    margin: 0px;
}

body 
{
    width: 100%;
    height: 100%;
}

a
{
    text-decoration: none;
    color: black;
}

#todo
{
    display: flex;
    flex-direction: row;
    margin: 40px auto;
}

#icone_seta i
{
    font-size: 35px;
    margin: 18px;
    color: #B8977E;
}
/*card do formulario cadastro/login*/
#card
{
    background-color: #D7CEC7;
    margin: 12px auto;
    width: 75vh;
    height: 85vh;
    align-items: center;
    /*border: solid 1px #c91919;*/
    border-radius: 15px;
} 
form
{
    text-align: center;
}
#formCadas
{
    margin: 22px auto;
}
label, #botao
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Largura da tela de cadastro*/
.campFor, #botao
{
margin: 30px auto;
font-size: 19px;
}
/*Largura da tela de login*/
.campLogin
{
margin: 14px auto;
font-size: 23px;
}
input
{
    margin: 7px;
    font-size: 15px;
    text-align: center;
    border: 5px;
    background-color: #F5F5F5;
    outline: none;
    border-radius: 3px;
    border: solid 2px #aeaeae;
}
input:focus{
    border: solid 2px #B8977E ;
}
#bLogin, #botao
{
    color: rgb(255, 255, 255);
    background-color: #76323F;
    width: 15vh;
    height: 5vh;
    border-radius: 7px;
    margin: 22px auto;
}

h1
{
    color: #76323F;
    font-size: 38px;
}
/*hiperlink direcionado para a tela de login*/
#login
{
    font-size: 20px;
    text-decoration: none;
}
#login:hover
{
    text-decoration: underline;
    color: #B8977E;
}

/*login)*/
#cardLogin
{
    background-color: #D7CEC7;
    margin: 12px auto;
    width: 50vh;
    height: 69vh;
    align-items: center;
    border-radius: 15px;
}

#formLogin{
    padding-top: 30px;
    margin: 29px;
}

#formCadas
{
    margin: 42px auto;
}
#bLogin{
    margin-top: 35px;
}